<div class="container-fluid">

    <h2>Create Article</h2>
    
    <div class="row">
        <form method="post" action="<%=baseUrl %>admin/dashboard">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <% create_form_field('title', 'Title') %>
                <% create_form_field('subtitle', 'Subtitle') %>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <% create_form_field('slug', 'Slug') %>
                <% create_form_field('tags', 'Tags') %>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <% create_form_field('author', 'Author') %>
                <% create_form_field('image', 'Main Image') %>
                <% create_form_field('backgroundColor', 'BackgroundColor') %>
            </div>
            <div class="form-group">
                <label for="comment">Body</label>
                <textarea class="form-control" rows="20" name="body" id="body"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save article</button>
            </div>
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="action" value="<%= action %>">

        </form>
        
    </div>
    
</div>

<% function create_form_field(name, caption) { %>
    <div class="form-group">
        <label for="<%=name%>"><%=caption%></label>
        <input type="text" name="<%=name%>" id="<%=name%>" class="form-control">
    </div>
<% } %>