<% include ../partials/header %>





<body>
    <% include ../partials/navigation %>
    
    <% include ../_elements/breadcrumbs %>
    

<div class="row">
    <div class="article-header-container">
        <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 50%; background: <%= article.backgroundColor %>; text-align: center;">
            <h1 style="width: 100%; text-align: center; color: white;"><%= article.title %></h1>
            <h3 style="width: 100%;"><%= upperCase(article.author) %> | <%= displayDate(article.updatedAt) %></h3>
        </div>
        <div style="position: absolute; left: 25%; top: 25%; width: 50%; height: 75%; text-align: center;">
            <img style="margin-left:auto;margin-right:auto; border: 3px solid #333;" src="<%= article.image %>" class="img-responsive">
        </div>
    </div>
    
    <div class="container">
        <% include ../partials/breadcrumbs %>
        <% include ../partials/share-square %>
        <div class="article">
            <%- article.body %>
        </div>
            
    <hr>
    <h3>Lees meer artikelen</h3>
    <ul class="list-group">
    <% for(var i=0; i<links.length;i++) { %>
        <li class="list-group-item">
            
            <a href="<%= baseUrl %><%= links[i].slug %>" title="<%= links[i].title %>"><%= links[i].title %></a>
        </li>
    
    <% } %>
    </ul>
    
    
    

        
    </div>
    
    
    
    
</div>




</body>
</html>

<% 

/* EJS Functions */

function displayDate(date) {
    var date = new Date(date);
    return date.toDateString()
}

function upperCase(string) {
    return string.toUpperCase();
}

function lowerCase(string) {
    return string.toLowerCase();
}

%>