<% include ../partials/header %>





<body>
    <% include ../partials/navigation %>
    
    

<div class="row">
    <div style="position: relative; width: 100%; height: 560px; display: block;padding: 20px; margin-bottom: 40px;">
        <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 50%; background: <%= article.backgroundColor %>; text-align: center;">
            <h1 style="width: 100%; text-align: center; color: white;"><%= article.title %></h1>
            <h3 style="text-transform: uppercase; width: 100%;"><%= article.author %> | <%= article.updatedAt %></h3>
        </div>
        <div style="position: absolute; left: 25%; top: 25%; width: 50%; height: 75%; text-align: center;">
            <img style="margin-left:auto;margin-right:auto; border: 3px solid #333;" src="<%= article.image %>" class="img-responsive">
        </div>
    </div>
    
    <div class="container">
        <% include ../partials/breadcrumbs %>
        <% include ../partials/share-square %>
        <div class="article">
            <%- article.body %>
        </div>
            
    <hr>
    <h3>Lees meer artikelen</h3>
    <ul class="list-group">
    <% for(var i=0; i<links.length;i++) { %>
        <li class="list-group-item">
            
            <a href="<%= baseUrl %><%= links[i].slug %>" title="<%= links[i].title %>"><%= links[i].title %></a>
        </li>
    
    <% } %>
    </ul>
        
        
    </div>
    
    
    
    
</div>


    
<div class="row subject">
    <div class="container">
        <h1 class="subject-title"><%= article.title %></h1>
        <h2 class="subject-subtitle">
            <%= article.subtitle %>
            <hr>
            <a href="<%= urlFor('home') %>" class="btn btn-default" title="Homepage">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="mailto:<%= contact.email %>?subject=Ik heb een vraag over mentorpower" class="btn btn-default" title="Neem contact met mij op per Email">
                <i class="fa fa-envelope-o fa-2x"></i>
            </a>
            <a href="<%= contact.linkin %>" class="btn btn-default" target="_blank" title="linkedin pagina van Ben Stuijts">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="<%= contact.facebook %>" class="btn btn-default" target="_blank" title="Facebook pagina van MentorPower">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="<%= contact.google %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-google-plus-square fa-2x"></i>
            </a>
            <a href="<%= contact.twitter %>" class="btn btn-default" target="_blank" title="Google pagina van MentorPower">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </h2>
    </div>
        
</div>
    

<div class="container">
    <% include ../partials/breadcrumbs %>
    <% include ../partials/share %>
        
    <img src="<%= article.image %>" class="img-responsive">
    
    
    
    <%- article.body %>
    
    <h3>Lees meer artikelen</h3>
    <ul class="list-group">
    <% for(var i=0; i<links.length;i++) { %>
        <li class="list-group-item">
            
            <a href="<%= baseUrl %><%= links[i].slug %>" title="<%= links[i].title %>"><%= links[i].title %></a>
        </li>
    
    <% } %>
    </ul>
    
    <div class="row">
        
    <% for(var i=0; i<links.length;i++) { %>
        <a href="<%= links[i].slug %>" class="thumbnail-square" style="background: url(<%= links[i].image %>) no-repeat;">
            <p class="thumbnail-square-caption"style="">
                <%= links[i].title %>
            </p>
        </a>
    <% } %>
        
    </div>
    
    
</div>


</body>
</html>